In [ ]:
#pip install requests fuzzywuzzy pandas pyjstat numpy plotly matplotlib seaborn geopy google folium pandas googlemaps

In [2]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

In [3]:
movies = pd.read_csv('/home/tanvirupareliya/Desktop/movie recommender/tmdb_5000_movies.csv')

In [4]:
print(movies.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [5]:
ratings = pd.read_csv('/home/tanvirupareliya/Desktop/movie recommender/ratings.csv')
print(ratings.columns)

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [6]:
movies = pd.read_csv('/home/tanvirupareliya/Desktop/movie recommender/tmdb_5000_movies.csv',usecols = ['id','title'], dtype= {'id ': 'int32', 'title':'str'} )
ratings = pd.read_csv('/home/tanvirupareliya/Desktop/movie recommender/ratings.csv',usecols = ['userId','movieId','rating'], dtype ={'userId':'Int64','movieId':'Int64','rating':'float'})

In [7]:
df_movies = movies
df_ratings = ratings

In [8]:
df_movies.head()

       id                                     title
0   19995                                    Avatar
1     285  Pirates of the Caribbean: At World's End
2  206647                                   Spectre
3   49026                     The Dark Knight Rises
4   49529                               John Carter

In [9]:
df_ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [10]:
## here one can take aany values instead of just rating like age group or based on genre anything.
# ratings = pd.read_csv('/home/tanvirupareliya/Desktop/movie recommender/ratings.csv,usecols' = ['userId','movieId','rating'], dtype ={'userId':'Int64','movieId':'Int64','rating':'float'})
# df_ratings = ratings
movies_user = df_ratings.pivot(index = 'movieId',columns ='userId', values='rating').fillna(0)
mat_movies_user = csr_matrix(movies_user.values) 
x = mat_movies_user

In [11]:
#used brute force approch because it takes one value and then compares that value to all the other values.
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric ='cosine',algorithm ='brute', n_neighbors=20)

In [12]:
model_knn.fit(mat_movies_user)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [13]:
def recommender(movie_name,data, model, n_recommendations):
  model.fit(data)
  idx = process.extractOne(movie_name,df_movies['title'])[2]
  print('Movies Selected: ',df_movies['title'][idx], 'Index: ',idx)
  print('----------------Your Recommendations are----------------')
  distances , indices=model.kneighbors(data[idx], n_neighbors = n_recommendations)
  for i in indices:
    return_df = (df_movies['title'][i].where(i!=idx))

    return return_df

In [14]:
recommender("Avatar",x,model_knn,20)

Movies Selected:  Avatar Index:  0
----------------Your Recommendations are----------------

0                                               NaN
2353                                Life as a House
418     Cats & Dogs 2 : The Revenge of Kitty Galore
615                                     Money Train
224                                         RoboCop
314                            The Spanish Prisoner
322                               The Fifth Element
910                    How to Lose a Guy in 10 Days
546                                         Minions
963                                  Ninja Assassin
968                               Murder by Numbers
3189                                    The Wailing
506                                 Despicable Me 2
123                          The Matrix Revolutions
257                                      Real Steel
897                                  Deck the Halls
815                                           Hitch
1182                            Big Momma's House 2
31                                       Iron Man 3
277                                   Casino Royale
Name: title, dtype: object

In [15]:
import pickle

In [16]:
with open('model_knn','wb') as f:
    pickle.dump(model_knn, f)

In [17]:
with open('model_knn', 'rb') as f:
    mp = pickle.load(f)

In [19]:
mp = NearestNeighbors()
mp.predict(5000)

AttributeError: 'NearestNeighbors' object has no attribute 'predict'